BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 80
# To usunie puste linie zaraz po klamrach {
KeepEmptyLinesAtTheStartOfBlocks: false
# To usunie spacje na końcach linii
DeriveLineEnding: true
# To wymusi łamanie linii w odpowiednich miejscach
AllowShortFunctionsOnASingleLine: None
# To jest ważne dla projektów C w mikrokontrolerach
PointerAlignment: Left